/*
 * Variables for the project
 * This file contains all the variables used in the project.
 */

// Colors
@white: #FFFFFF;
@red: #C92A27;
@blue-dark: #122948;
@gray: #CDCDCD;

// Fonts
@fs-small: 0.9rem;