@import 'styles/reset';
@import 'styles/utils';
@import 'styles/variables';

:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: @white;
}
